<ion-header>
  <ion-toolbar>
    <ion-title>updates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="row">
  <ion-slides pager style="height: 30em;">

    <ion-slide class="slideImgBackgroung" style="background-image: url(../../../assets/images/templeConstruction/img1.JPG);">      
    </ion-slide>
    <ion-slide class="slideImgBackgroung" style="background-image: url(../../../assets/images/templeConstruction/img2.JPG);">      
    </ion-slide>
    <ion-slide class="slideImgBackgroung" style="background-image: url(../../../assets/images/templeConstruction/img3.JPG);">      
    </ion-slide>
    <ion-slide class="slideImgBackgroung" style="background-image: url(../../../assets/images/templeConstruction/img4.JPG);">      
    </ion-slide>  
  </ion-slides>
</div>
</ion-content>
