<ion-header>
  <ion-toolbar>
    <ion-title>donations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="Donate" class="all" style="max-width: 100%; height: 100%;">
    <div style="width:100%; text-align:center; margin-top:2%">
        <p align="”center”"><font face="Arial" color="Brown"><strong><big><big><big> Every Dollar makes a Difference </big></big></big></strong></font></p>
<p align="“center”"><font face="Arial" color="Brown"><strong><big><big><big> Appeal For Funds </big></big></big></strong></font></p>

<p>
        <font face="Arial" color="black">
            <small><strong>

Shri Shirdi Saibaba Temple of Des Moines humbly requests all devotees to extend their sincere financial support and contribution towards Land, Idol and temple construction. Your generous donations will enable us to manage the budget to your best satisfaction in making this temple a wholesome one.

            </strong></small>
        </font>
</p>


<p>
        <font face="Arial" color="black">
            <small><strong>

In honor and appreciation to your donation, you will receive certain honorary* and temple services* and a tax-deductible receipt.


            </strong></small>
        </font>
</p>


<p>
        <font face="Arial" color="black">
            <small><strong>

All donations if made in USA are tax deductible. Tax ID # 47-5157728
Please consult your tax advisor for details and eligibility.
            </strong></small>
        </font>
</p>
<p>
        <font face="Arial" color="black">
            <small><strong>

Please make your check payable to:

            </strong></small>
        </font>
</p>

<p>
        <font face="Arial" color="black">
            <small><strong>

Shri Shirdi Saibaba Temple of Des Moines

            </strong></small>
        </font>
</p>
<p>
        <font face="Arial" color="black">
            <small><strong>

P.O.Box # 71128, 2135 NW 108th St , Clive IA, 50325

            </strong></small>
        </font>
</p>
          <h2 style="padding:0; margin:0">
           To donate online 
            <a href="https://squareup.com/store/shri-shiridi-sai-temple" target="_blank"> click here </a>
        </h2>
    </div>
</div>
</ion-content>
