<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-title>Shri Shirdi Saibaba Temple of Des Moines (SSST)</ion-title>
    <ion-notes>
      (Non profit organization TAX ID:47-5157728)
P.O.Box # 71128, 2135 NW 108th St , Clive IA, 50325
FOR DONATIONS: Send checks in favor of "SSST" to PO Box address
    </ion-notes>
  </ion-toolbar>
</ion-header>
<br/>
<ion-content>
  <ion-slides pager style="height: 30em;">

    <ion-slide class="slideImgBackgroung" style="background-image: url(assets/images/homeSlides/mainpagebaba.jpg);">
      <h2>On Sai Ram</h2>
    </ion-slide>
  
    <ion-slide class="slideImgBackgroung" style="background-image: url(assets/images/homeSlides/mybaba12.jpg);">
      <h2>On Sai Ram</h2>
    </ion-slide>
  
  </ion-slides>
</ion-content>

<div class="row">
  <div >
    <p>
        <strong>
            <font face="Arial" color="#0000FF"><small>Objectives of Shirdi Sai Des Moines Trust</small></font><font color="#0000A0" face="Arial">
                <big>
                    <big>
                        <br>
                    </big>
                </big>
            </font>
        </strong>
        <font face="Arial" color="black">
            <small>
               </small></font></p><p><font face="Arial" color="black"><small>Shri Shirdi Saibaba Temple of Des Moines (SSST) is engaged in spreading the Sai movement</small></font></p><font face="Arial" color="black"><small> 

                The main activities of the Trust are as follows:
                <ul>
                    <li>Spreading Saibaba's teachings and messages.</li>
                    <li>Assisting in the building of Sai Mandirs.</li>
                    <li>Services rendered since inception.</li>
                </ul>                                                       
            </small>
        </font>
    <p></p>               
</div>
</div>
