<ion-header>
  <ion-toolbar style="text-align: center;">
    <ion-title>Shri Shirdi Saibaba Temple of Des Moines (SSST)</ion-title>
    <ion-note>
      (Non profit organization TAX ID:47-5157728)
P.O.Box # 71128, 2135 NW 108th St , Clive IA, 50325
FOR DONATIONS: Send checks in favor of "SSST" to PO Box address
    </ion-note>
  </ion-toolbar>
</ion-header>
<br/>
<ion-content class="ion-padding">
  <ion-slides >    
    <ion-slide *ngFor="let s of slides" >
      <div class="slide">
        <img src="{{s.src}}"/>
        <h2>{{s.title}}</h2>
        <h3>{{s.subTitle}}</h3>
        <p>{{s.description}}</p>
      </div>
    </ion-slide>
  </ion-slides>


<div class="row">
  <div >
    <p>
        <strong>
            <h3 style="color: #0000FF;">Objectives of Shirdi Sai Des Moines Trust</h3>
        </strong>
    </p>
    <h4>Shri Shirdi Saibaba Temple of Des Moines (SSST) is engaged in spreading the Sai movement</h4>
    

                The main activities of the Trust are as follows:
                <ul>
                    <li>Spreading Saibaba's teachings and messages.</li>
                    <li>Assisting in the building of Sai Mandirs.</li>
                    <li>Services rendered since inception.</li>
                </ul>                                                       
    
  </div>
</div>
</ion-content>