<ion-header>
  <ion-toolbar>
    <ion-title>Shri Shirdi Saibaba Temple of Des Moines (SSST)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-botton tab="timings">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Timings</ion-label>
    </ion-tab-botton>
    <ion-tab-botton tab="events">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-botton>
    <ion-tab-botton tab="contacts">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-botton>
    <ion-tab-botton tab="donations">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Donations</ion-label>
    </ion-tab-botton>
  </ion-tab-bar>
</ion-tabs>

