<ion-header style="background-color: saddlebrown;">
  
        <h1 style="background-color: saddlebrown;color: snow; text-align: center;"><strong> Shri Shirdi Saibaba Temple of Des Moines (SSST) USA</strong></h1>
  
</ion-header>
<div class="clear fix"></div>
<div class="clear fix" style="margin-top: 4px;;"></div>
<!--<ion-content>

</ion-content>-->
<br/>
<ion-router-outlet id="content" ></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom" style="background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);">    
    <ion-tab-button tab="home/timings" style="background-color: transparent;">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Timings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home/festivals" style="background-color: transparent;">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home/contactus" style="background-color: transparent;">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Contacts</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home/donations" style="background-color: transparent;">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Donations</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
