<ion-header>
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
      <section style="text-align:center; min-height:99px;width:960px; margin: 0 auto">
        <div style="font-weight:bold; font-size:x-large ">Shri Shirdi Saibaba Temple of Des Moines (SSST) </div>
        <div style="font-weight:500; ">(Non profit organization TAX ID:47-5157728) </div>

        <div style="font-weight:800; ">P.O.Box # 71128, 2135 NW 108th St , Clive IA, 50325 </div>
        <div style="font-weight:600; ">FOR DONATIONS: Send checks in favor of "SSST" to PO Box address</div>
    </section>
  </div>
  <br/>
  <div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2983.019186285633!2d-93.76752248426816!3d41.61209678999683!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sP.O.Box%20%23%2071128%2C%202135%20NW%20108th%20St%20%2C%20Clive%20IA%2C%2050325!5e0!3m2!1sen!2sus!4v1596653008043!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</ion-content>
