<ion-header>
  <ion-toolbar>
    <ion-title>Timings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="col-md-12 col-sm-12">
    <h4><strong> Sai Baba Aarthi</strong></h4>
    <h3><strong> Venue: Pure land of Iowa</strong></h3>
    <div>6.45 PM Thursday</div>
    <div>Address: 8364, Hickman Road, Clive, IA -50325</div>
    <br/>
    <div><strong> Directions:</strong> If you are driving east on Hickman road, make a right on 82nd st signal lights then take first right and then second left into “Pure land of Iowa” (You will see a pole near the sign board)</div>    
  </div>
  <br/>
  <br/>
  <div>
    <h4><strong>Virtual Aarthi Sai Baba Aarthi</strong></h4>
    <div>
      Join Zoom Meeting<br/>
https://us04web.zoom.us/j/631300816?pwd=WmdWclBIaTYzYWlhUXlCbE1TaDlMUT09<br/>

Meeting ID: 631 300 816<br/>
Password: 681244<br/>

One tap mobile
+13126266799,,631300816#,,#,681244# US (Chicago)
+19292056099,,631300816#,,#,681244# US (New York)

Dial by your location
        +1 312 626 6799 US (Chicago)
        +1 929 205 6099 US (New York)
        +1 253 215 8782 US
        +1 301 715 8592 US
        +1 346 248 7799 US (Houston)
        +1 669 900 6833 US (San Jose)
Meeting ID: 631 300 816
Password: 681244
Find your local number: https://us04web.zoom.us/u/ft4rfIps6
    </div>
  </div>
</ion-content>
