<ion-header>
  <ion-toolbar>
    <ion-title>Timings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <h3><strong> 6.45 PM Thursday</strong></h3>
    <h4:130%"><strong> Venue: Pure land of Iowa</strong></h4>
    <div>Address: 8364, Hickman Road, Clive, IA -50325</div>
    <br/>
    <div><strong> Directions:</strong> If you are driving east on Hickman road, make a right on 82nd st signal lights then take first right and then second left into “Pure land of Iowa” (You will see a pole near the sign board)</div>
</div>
</ion-content>
